<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Failrun - Admin Panel</title>
</head>
<body>
    <h1>Bienvenido al panel de administración</h1>
    <a href="{{ path('app_failrun_admin_logout') }}">Cerrar sesión</a>
</body>
</html>